/* ------------------------------------ Section About -----------------------------------------------------------*/

/*
color-grey-ligth-1 = #f7f7f7
*/

.section-about {
  background-color: #f7f7f7;
  padding: 250px 0px;
  margin-top: -20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-text-position {
  text-align: left;
  width: 100%;
}

.heading-secondary {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: black;
  transition: all 0.2s;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.row {
  width: 100%;
  max-width: 1400px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-1-of-2 {
  width: 50%;
}

.heading-tertiary {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 14px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.btn-text {
  color: black;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  padding: 3px;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: black;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

.btn-text:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(3px);
}

.col-2-of-2 {
  width: 50%;
}

.composition {
  position: relative;
}

.img-about {
  width: 300px;
  height: 350px;
}

.composition_photo--p1 {
  position: absolute;
  left: 30%;
  bottom: -50px;
}

.composition_photo--p2 {
  position: absolute;
  left: 50%;
  bottom: -150px;
}

.composition_photo--p3 {
  position: absolute;
  left: 20%;
  bottom: -300px;
}

.composition_photo--p1:hover {
  outline: 10px solid rgb(17, 17, 17);
  transform: scale(1.05);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.6);
  z-index: 20;
}

.composition_photo--p2:hover {
  outline: 10px solid rgb(17, 17, 17);
  transform: scale(1.05);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.6);
  z-index: 20;
}

.composition_photo--p3:hover {
  outline: 10px solid rgb(17, 17, 17);
  transform: scale(1.05);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.6);
  z-index: 20;
}

/* --------------------------------- @media Section About------------------------------------------------------*/

@media (max-width: 1300px) {
  .composition_photo--p1 {
    position: absolute;
    left: 20%;
    bottom: -50px;
  }

  .composition_photo--p2 {
    position: absolute;
    left: 40%;
    bottom: -150px;
  }

  .composition_photo--p3 {
    position: absolute;
    left: 10%;
    bottom: -300px;
  }
}

@media (max-width: 1050px) {
  .composition_photo--p1 {
    position: absolute;
    left: 10%;
    bottom: -50px;
  }

  .composition_photo--p2 {
    position: absolute;
    left: 30%;
    bottom: -150px;
  }

  .composition_photo--p3 {
    position: absolute;
    left: 0%;
    bottom: -300px;
  }
}

@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }

  .col-1-of-2 {
    width: 100%;
  }

  .col-2-of-2 {
    width: 100%;
    height: 450px;
  }

  .composition_photo--p1 {
    left: 25%;
    bottom: -400px;
  }

  .composition_photo--p2 {
    left: 45%;
    bottom: -500px;
  }

  .composition_photo--p3 {
    left: 15%;
    bottom: -600px;
  }
}

@media (max-width: 660px) {
  .composition_photo--p1 {
    left: 15%;
  }

  .composition_photo--p2 {
    left: 35%;
  }

  .composition_photo--p3 {
    left: 5%;
  }
}

@media (max-width: 520px) {
  .col-2-of-2 {
    width: 100%;
    height: 350px;
  }

  .img-about {
    width: 200px;
    height: 250px;
  }

  .composition_photo--p1 {
    left: 20%;
    bottom: -300px;
  }

  .composition_photo--p2 {
    left: 40%;
    bottom: -400px;
  }

  .composition_photo--p3 {
    left: 10%;
    bottom: -500px;
  }
}

@media (max-width: 400px) {
  .composition_photo--p1 {
    left: 15%;
    bottom: -300px;
  }

  .composition_photo--p2 {
    left: 35%;
    bottom: -400px;
  }

  .composition_photo--p3 {
    left: 5%;
    bottom: -500px;
  }
}
