/* ------------------------------------ card -----------------------------------------------------------*/

.body-card {
    background-color: #f7f7f7;
    padding-top: 300px;
    padding-bottom: 110px;
    margin-top: -100px;
    display: block;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.card-Card {
    width: 300px;
    height: 500px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.9s;
    margin-left: 25px;
    margin-right: 25px;
}

.card-Card:hover {
    transform: rotateY(180deg);
}

.card-side {
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: #fff;
}

.back {
    transform: rotateY(180deg);
}

.card-picture {
    height: 360px;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card-picture-1 {
    background-image: url("../../img//Buzo-Holy-Cros.jpeg");
}

.card-picture-2 {
    background-image: url("../../img/Michael-Ham-Buzo.jpeg");
}

.card-picture-3 {
    background-image: url("../../img/imagen-front-3.jpeg");
}

.card-picture-4 {
    background-image: url("../../img/imagen-front-4.jpeg");
}

.card-picture-5 {
    background-image: url("../../img/imagen-front-5.jpg");
}

.card-picture-6 {
    background-image: url("../../img/imagen-front-6.jpg");
}

.card-picture-7 {
    background-image: url("../../img/imagen-front-7.jpeg");
}

.card-picture-8 {
    background-image: url("../../img/imagen-front-8.jpg");
}

.card-picture-9 {
    background-image: url("../../img/imagen-front-9.jpeg");
}

.card-picture-10 {
    background-image: url("../../img/imagen-front-10.jpg");
}

.card-picture-11 {
    background-image: url("../../img/imagen-front-11.jpg");
}

.card-picture-12 {
    background-image: url("../../img/imagen-front-12.jpeg");
}

.card-picture-13 {
    background-image: url("../../img/imagen-front-13.jpeg");
}

.card-picture-14 {
    background-image: url("../../img/imagen-front-14.jpeg");
}

.card-picture-15 {
    background-image: url("../../img/imagen-front-15.jpeg");
}

.card-detail ul {
    list-style: none;
    width: 80%;
    margin: auto 0;
}

.card-detail li {
    text-align: center;
    font-size: 15px;
    padding: 10px;

    &:not(:last-child) {
        border-bottom: 1px solid #d4c4c4;
    }
}

.card_cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.img-back {
    width: 100%;
    height: 100%;
}

.btn-card-back:link,
.btn-card-back:visited {
    background-color: #fff;
    color: #777;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn-card-back:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn-card-back:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.button-card {
    list-style: none;
    border: none;
    background-color: black;
    color: #fff;
    width: 75px;
    height: 35px;
    margin: 0px 15px;
    border-radius: 50%;
}

.button-card:hover {
    transform: scale(1.3);
}

.page {
    font-size: 22px;
}

@media(max-width: 1050px) {

    .card-container {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .card-Card {
        margin-bottom: 25px;
    }

}