/* ------------------------------------ card -----------------------------------------------------------*/

.body-card {
    background-color: #f7f7f7;
    padding-top: 300px;
    padding-bottom: 110px;
    margin-top: -100px;
    display: block;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-Card {
    width: 300px;
    height: 500px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.9s;
    margin-left: 25px;
    margin-right: 25px;
}

.card-Card:hover {
    transform: rotateY(180deg);
}

.card-side {
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: #fff;
}

.back {
    transform: rotateY(180deg);
}

.card-picture {
    height: 230px;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card-picture-1 {
    background-image: linear-gradient(to right bottom, #ced114, #926420),
        url("https://v3core.blue/uploads/web/products/455/buzos-egresados-frente.jpg");
}

.card-picture-2 {
    background-image: linear-gradient(to right bottom, #249c9c, #085f58),
        url("https://v3core.blue/uploads/web/products/425/buzos-egresados-frente.jpg");
}

.card-picture-3 {
    background-image: linear-gradient(to right bottom, #1672eb, #132557),
        url("https://v3core.blue/uploads/web/products/344/camperas-egresados-frente.jpg");
}

.card-heading {
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    text-align: right;
    top: 120px;
    right: 5px;
    width: 75%;
}

.card-heading-span {
    padding: 0px;
    box-decoration-break: clone;
}

.card-heading-span-1 {
    background-image: linear-gradient(to right bottom, #ced114, #926420);
}

.card-heading-span-2 {
    background-image: linear-gradient(to right bottom, #249c9c, #085f58);
}

.card-heading-span-3 {
    background-image: linear-gradient(to right bottom, #1672eb, #132557);
}

.card-detail {
    padding: 30px;
}

.card-detail ul {
    list-style: none;
    width: 80%;
    margin: auto 0;
}

.card-detail li {
    text-align: center;
    font-size: 15px;
    padding: 10px;

    &:not(:last-child) {
        border-bottom: 1px solid #eee;
    }
}

.back-1 {
    background-image: linear-gradient(to right bottom, #ced114, #926420);
}

.back-2 {
    background-image: linear-gradient(to right bottom, #249c9c, #085f58);
}

.back-3 {
    background-image: linear-gradient(to right bottom, #1672eb, #132557);
}

.card_cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.btn-card-back:link,
.btn-card-back:visited {
    background-color: #fff;
    color: #777;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn-card-back:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn-card-back:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

@media(max-width: 1050px) {

    .card-container {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .card-Card {
        margin-bottom: 25px;
    }

}