/*
Ligth green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

animation-delay: 3s;
animation-iteration-count: 3;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 15px;
}


/* ------------------------------------ Header-----------------------------------------------------------*/

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("https://www.argiesment.com/images/arti/festejar-fiesta-de-egresados-buenos-aires_1.webp");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 75px;
    animation: moveInRight 1s ease-out;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 25px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 20px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px;
    animation: moveInRight 1s ease-out;
}

.btn:link,
.btn:visited {
    background-color: #fff;
    color: #777;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

/* --------------------------------- Animation ------------------------------------------------------*/

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* --------------------------------- @media Header------------------------------------------------------*/

@media(max-width: 1200px) {
    .heading-primary-main {
        display: block;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 20px;
    }

    .heading-primary-sub {
        display: block;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 10px;
    }
}

@media(max-width: 900px) {
    .heading-primary-main {
        display: block;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 10px;
    }

    .heading-primary-sub {
        display: block;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 5px;
    }
}

@media(max-width: 680px) {
    .heading-primary-main {
        display: block;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 5px;
    }

    .heading-primary-sub {
        display: block;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
    }

}

@media(max-width: 575px) {
    .heading-primary-main {
        display: block;
        font-size: 22px;
        font-weight: bold;
    }

    .heading-primary-sub {
        display: block;
        font-size: 13px;
        font-weight: bold;
    }
}

@media(max-width: 470px) {
    .heading-primary-main {
        display: block;
        font-size: 18px;
        font-weight: bold;
    }

    .heading-primary-sub {
        display: block;
        font-size: 12px;
        font-weight: bold;
    }
}


/* ------------------------------------ Section About -----------------------------------------------------------*/

/*
color-grey-ligth-1 = #f7f7f7
*/

.section-about {
    background-color: #f7f7f7;
    padding: 250px 0px;
    margin-top: -20vh;
}

.u-center-text {
    text-align: center;
}

.u-margin-bottom-80 {
    margin-bottom: 80px;
}

.heading-secondary {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    color: #7ed56f;
    transition: all .2s;
    letter-spacing: 2px;
}

.heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 5px 10px 20px rgba(0, 0, 0, .2);
}

.row {
    align-items: center;
    padding-left: 130px;
}

.col-1-of-2 {
    float: left;
    width: 45%;
}

.col-2-of-2 {
    float: right;
    width: 45%;
}

.heading-tertiary {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 14px;

    &:not(:last-child) {
        margin-bottom: 25px;
    }

}

.btn-text {
    color: #7ed56f;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #7ed56f;
    font-size: 18px;
    padding: 3px;
    transition: all .2s;
}

.btn-text:hover {
    background-color: #7ed56f;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
    transform: translateY(-3px);
}

.btn-text:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    transform: translateY(3px);
}

.composition {
    position: relative;
}

.composition_photo {
    width: 55%;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 10px;
}

.composition_photo--p1 {
    left: 0;
    bottom: -120px;
}

.composition_photo--p2 {
    right: 0;
    bottom: -60px;
}

.composition_photo--p3 {
    left: 20%;
    bottom: -260px;
}

.composition_photo--p1:hover {
    outline: 15px solid #7ed56f;
    transform: scale(1.05);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .6);
    z-index: 20;
}

.composition_photo--p2:hover {
    outline: 15px solid #7ed56f;
    transform: scale(1.05);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .6);
    z-index: 20;
}

.composition_photo--p3:hover {
    outline: 15px solid #7ed56f;
    transform: scale(1.05);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .6);
    z-index: 20;
}

/* --------------------------------- @media Section About------------------------------------------------------*/

@media(max-width: 1200px) {
    .composition_photo {
        width: 55%;
    }

    .composition_photo--p1 {
        left: 0;
        bottom: -40px;
    }

    .composition_photo--p2 {
        right: 0;
        bottom: -10px;
    }

    .composition_photo--p3 {
        left: 20%;
        bottom: -110px;
    }
}

@media(max-width: 850px) {

    .row {
        align-items: center;
        padding-left: 50px;
    }

    .col-1-of-2 {
        width: 90%;
    }

    .col-2-of-2 {
        display: none;
    }


}

@media(max-width: 500px) {

    .row {
        align-items: center;
        padding-left: 20px;
    }

    .col-2-of-2 {
        display: none;
    }

    .col-1-of-2 {
        width: 90%;
    }

}

/* ------------------------------------ Features -----------------------------------------------------------*/

.section-features {
    min-height: 95vh;
    padding: 100px 0px;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("https://cdn1.eldia.com/122019/1575783727117.jpg?cw=5000&ch=3333");
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -100px;
}

.row-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    transform: skewY(7deg);
}

.col-1-of-4 {
    width: 20%;
    padding-left: 30px;
}

.feature-box {
    height: 275px;
    width: 225px;
    background-color: #fff;
    font-size: 15px;
    padding: 25px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .15);
    transition: all .3s;
}

.pincel-color ion-icon {
    color: orangered;
}

.whatsapp-color ion-icon {
    color: greenyellow;
}

.instagram-color ion-icon {
    color: blueviolet;
}

.contactanos-color ion-icon {
    color: black;
}

.feature-box:hover {
    transform: translateY(-15px) scale(1.03);
}

.a-features-pincel {
    text-decoration: none;
    color: #777;
}

.a-features-pincel:hover {
    color: orangered;
}

.a-features-instagram {
    text-decoration: none;
    color: #777;
}

.a-features-instagram:hover {
    color: blueviolet;
}

.a-features-whatsapp {
    text-decoration: none;
    color: #777;
}

.a-features-whatsapp:hover {
    color: green;
}

.a-features-contactanos {
    text-decoration: none;
    color: #777;
}

.a-features-contactanos:hover {
    color: black;
}

/* --------------------------------- @media Features------------------------------------------------------*/

@media(max-width: 1100px) {


    .row-feature {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .col-1-of-4 {
        padding-bottom: 30px;
    }

}

@media(max-width: 850px) {


    .row-feature {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .col-1-of-4 {
        padding-bottom: 30px;
    }

}

@media(max-width: 630px) {


    .row-feature {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .col-1-of-4 {
        padding-bottom: 30px;
    }

}

/* ------------------------------------ tours -----------------------------------------------------------*/

.section-diseños {
    min-height: 75vh;
    background-color: #f7f7f7;
    padding: 300px 0px;
    margin-top: -100px;
}

.row-diseños {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}

.col-1-of-3-diseños {
    height: 450px;
    width: 30%;
    padding: 0px 10px;
}

.card {
    height: 100%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, .5);
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(-20px);
}

.card img {
    width: 100%;
    height: 100%;
}

.info h1 {
    font-size: 22px;
}

/* --------------------------------- @media tours------------------------------------------------------*/

@media(max-width: 950px) {

    .row-diseños {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .col-1-of-3-diseños {
        height: 450px;
        width: 100%;
        padding: 0px 10px;
        padding-bottom: 80px;
    }

}

@media(max-width: 600px) {

    .row-diseños {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    .col-1-of-3-diseños {
        height: 450px;
        width: 100%;
        padding: 0px 10px;
        padding-bottom: 80px;
    }

}