/*
Ligth green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

animation-delay: 3s;
animation-iteration-count: 3;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: black;
  padding: 5px;
}
