/* ------------------------------------ Header-----------------------------------------------------------*/

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgb(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../../img/imagen-inicio.jpeg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 95px;
    animation: moveInRight 1s ease-out;
}

.text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: black;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 25px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 20px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px;
    animation: moveInRight 1s ease-out;
}

.btn:link,
.btn:visited {
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

/* --------------------------------- Animation ------------------------------------------------------*/

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* --------------------------------- @media Header------------------------------------------------------*/

@media(max-width: 1200px) {
    .heading-primary-main {
        display: block;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 20px;
    }

    .heading-primary-sub {
        display: block;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 10px;
    }
}

@media(max-width: 900px) {
    .heading-primary-main {
        display: block;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 10px;
    }

    .heading-primary-sub {
        display: block;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 5px;
    }
}

@media(max-width: 680px) {
    .heading-primary-main {
        display: block;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 8px;
    }

    .heading-primary-sub {
        display: block;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 3px;
    }

}

@media(max-width: 575px) {
    .heading-primary-main {
        display: block;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 8px;
    }

    .heading-primary-sub {
        display: block;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 3px;
    }
}

@media(max-width: 470px) {
    .heading-primary-main {
        display: block;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 8px;
    }

    .heading-primary-sub {
        display: block;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 3px;
    }
}