.body-diseños {
    margin-top: -125px;
    padding-top: 200px;
    text-align: center;
    background-color: #f7f7f7;
}

.row-diseño {
    display: flex;
}

.imgTshirt {
    position: relative;
}

.imgTshirt img {
    height: 550px;
    width: 75%;
}

.memeText {
    position: absolute;
    top: 200px;
    left: 235px;
}

.memeText1 {
    position: absolute;
    top: 150px;
    left: 235px;
}

.memeText2 {
    position: absolute;
    top: 150px;
    left: 400px;
}

.memeText img {
    width: 300px;
}

.memeText p {
    font-family: Impact, Charcoal, sans-serif;
    color: #fff;
}

.tshirt-color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tshirt-color img {
    width: 100%;
    height: 100%;
}

.button-tshirt-color {
    text-decoration: none;
    background: none;
    border: none;
    width: 15%;
    height: 15%;
}

.box {
    display: flex;
    position: relative;
    cursor: pointer;
}

#img-check {
    display: none;
}

#texto-1 {
    display: none;
}

#texto-2 {
    display: none;
}

@media(max-width: 990px) {
    .row-diseño {
        display: block;
    }
}