.body-diseños {
    margin-top: -125px;
    padding-top: 200px;
    text-align: center;
    background-color: #f7f7f7;
}

.row-diseño {
    display: flex;
}

.color-body {
    display: block;
}

.color-container {
    display: flex;
}

.memeText1-1 {
    position: absolute;
    top: 280px;
    left: 410px;
    z-index: 9999;
    display: none;
    font-weight: bold;
}

.memeText2-1 {
    position: absolute;
    top: 455px;
    left: 347px;
    z-index: 9999;
    display: none;
    font-weight: bold;
}

.memeText3-1 {
    position: absolute;
    top: 310px;
    left: 485px;
    z-index: 9999;
    display: none;
    writing-mode: vertical-rl;
    /* Cambiar a vertical-lr para la dirección opuesta */
    font-weight: bold;
}

.memeText4-1 {
    position: absolute;
    top: 310px;
    left: 225px;
    z-index: 9999;
    display: none;
    writing-mode: vertical-rl;
    /* Cambiar a vertical-lr para la dirección opuesta */
    font-weight: bold;
}


.memeText1-2 {
    position: absolute;
    top: 280px;
    left: 410px;
    z-index: 9999;
    display: none;
    font-weight: bold;
}

.memeText2-2 {
    position: absolute;
    top: 480px;
    left: 347px;
    z-index: 9999;
    display: none;
    font-weight: bold;
}

.memeText3-2 {
    position: absolute;
    top: 250px;
    left: 485px;
    z-index: 9999;
    display: none;
    writing-mode: vertical-rl;
    /* Cambiar a vertical-lr para la dirección opuesta */
    font-weight: bold;
}

.memeText4-2 {
    position: absolute;
    top: 250px;
    left: 225px;
    z-index: 9999;
    display: none;
    writing-mode: vertical-rl;
    /* Cambiar a vertical-lr para la dirección opuesta */
    font-weight: bold;
}

.memeText p {
    font-family: Impact, Charcoal, sans-serif;
    color: #fff;
}

.box {
    display: flex;
    position: relative;
}

#img-check {
    display: none;
}

#texto-1 {
    display: none;
}

#texto-2 {
    display: none;
}

.a-download {
    text-decoration: none;
    color: #fff;
    background-color: rgb(66, 66, 182);
    margin-bottom: 5px;
    height: 30px;
    border-radius: 5px;
}

.a-download:hover {
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

@media(max-width: 990px) {
    .row-diseño {
        display: block;
    }
}

@media(max-width: 770px) {
    .canvas-draw {
        width: 500px;
        height: 500px;
    }
}

@media(max-width: 570px) {
    .canvas-draw {
        width: 400px;
        height: 400px;
    }

    .color-tshirt-white {
        height: 30px;
        width: 30px;
    }

    .color-tshirt {
        height: 30px;
        width: 30px;
    }
}

@media(max-width: 470px) {
    .canvas-draw {
        width: 300px;
        height: 300px;
    }

    .color-tshirt-white {
        height: 25px;
        width: 25px;
        margin: 7px;
    }

    .color-tshirt {
        height: 25px;
        width: 25px;
        margin: 7px;
    }
}

@media(max-width: 370px) {
    .canvas-draw {
        width: 250px;
        height: 250px;
        margin: 2px;
    }

    .color-tshirt-white {
        height: 20px;
        width: 20px;
        margin: 4px;
    }

    .color-tshirt {
        height: 20px;
        width: 20px;
        margin: 4px;
    }
}


/* Canvas draw 2                  */

.canvas-draw-2 {
    background-image: url("../../img/remera1Adelante.png");
    background-size: cover;
    width: 700px;
    height: 700px;
    cursor: pointer;
}

@media(max-width: 770px) {
    .canvas-draw-2 {
        width: 500px;
        height: 500px;
    }
}

@media(max-width: 570px) {
    .canvas-draw-2 {
        width: 400px;
        height: 400px;
    }
}

@media(max-width: 470px) {
    .canvas-draw-2 {
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 370px) {
    .canvas-draw-2 {
        width: 250px;
        height: 250px;
        margin: 2px;
    }
}

/* Canvas draw 3                  */

.canvas-draw-3 {
    background-image: url("../../img/remera2Adelante.png");
    background-size: cover;
    width: 700px;
    height: 700px;
    cursor: pointer;
}

@media(max-width: 770px) {
    .canvas-draw-3 {
        width: 500px;
        height: 500px;
    }
}

@media(max-width: 570px) {
    .canvas-draw-3 {
        width: 400px;
        height: 400px;
    }
}

@media(max-width: 470px) {
    .canvas-draw-3 {
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 370px) {
    .canvas-draw-3 {
        width: 250px;
        height: 250px;
        margin: 2px;
    }
}

/* Canvas draw 4                  */

.canvas-draw-4 {
    background-image: url("../../img/remera3adelante.png");
    background-size: cover;
    width: 700px;
    height: 700px;
    cursor: pointer;
}

@media(max-width: 770px) {
    .canvas-draw-4 {
        width: 500px;
        height: 500px;
    }
}

@media(max-width: 570px) {
    .canvas-draw-4 {
        width: 400px;
        height: 400px;
    }
}

@media(max-width: 470px) {
    .canvas-draw-4 {
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 370px) {
    .canvas-draw-4 {
        width: 250px;
        height: 250px;
        margin: 2px;
    }
}

/* Canvas draw 5                  */

.canvas-draw-5 {
    background-image: url("../../img/buzo1Atras.png");
    background-size: cover;
    width: 700px;
    height: 700px;
    cursor: pointer;
}

@media(max-width: 770px) {
    .canvas-draw-5 {
        width: 500px;
        height: 500px;
    }
}

@media(max-width: 570px) {
    .canvas-draw-5 {
        width: 400px;
        height: 400px;
    }
}

@media(max-width: 470px) {
    .canvas-draw-5 {
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 370px) {
    .canvas-draw-5 {
        width: 250px;
        height: 250px;
        margin: 2px;
    }
}

/* Canvas draw 6                  */

.canvas-draw-6 {
    background-image: url("../../img/remera3Atras.png");
    background-size: cover;
    width: 700px;
    height: 700px;
    cursor: pointer;
}

@media(max-width: 770px) {
    .canvas-draw-6 {
        width: 500px;
        height: 500px;
    }
}

@media(max-width: 570px) {
    .canvas-draw-6 {
        width: 400px;
        height: 400px;
    }
}

@media(max-width: 470px) {
    .canvas-draw-6 {
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 370px) {
    .canvas-draw-6 {
        width: 250px;
        height: 250px;
        margin: 2px;
    }
}