.body-contacto {
    background-color: aliceblue;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.titulo-contacto {
    padding-top: 25px;
    padding-left: 45px;
}

.body-form {
    display: flex;
}

.form-contacto {
    justify-content: center;
    min-width: 100%;
    padding: 40px;
}

.redes-contacto-button {
    border: none;
    cursor: pointer;
    color: blue;
    font-weight: bold;
    font-size: 16px;
}

.redes-contacto-button:hover {
    color: brown;
    font-size: 17px;
}

.boton-contacto {
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.boton-contacto-2 {
    width: 200px;
}

.container-intputs {
    display: flex;
}

.container-intputs-1 {
    width: 50%;
    padding: 0 10px;
}

.container-intputs-2 {
    width: 50%;
    padding: 0 10px;
}

@media(max-width: 650px) {

    .titulo-contacto {
        padding-top: 10px;
        padding-left: 10px;
    }

    .container-intputs {
        display: inline-block;
    }

    .form-contacto {
        justify-content: center;
        min-width: 100%;
        padding: 10px;
    }

    .container-intputs-1 {
        width: 100%;
        padding: 0;
    }

    .container-intputs-2 {
        width: 100%;
        padding: 0;
    }
}