.body-contacto {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-youthful-background-to-youthful-struggle-image_190160.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.titulo-contacto {
    padding-top: 25px;
    padding-left: 150px;
}

.body-form {
    display: flex;
}

.form-contacto {
    text-align: center;
    min-width: 45%;
    padding: 40px;
}

.redes-contacto-button {
    border: none;
    cursor: pointer;
    color: blue;
    font-weight: bold;
    font-size: 16px;
}

.redes-contacto-button:hover {
    color: brown;
    font-size: 17px;
}